
body {
	background: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	color: #8B8B8B;
  	width: auto;
	text-align: left;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 34px;
	line-height: 40px;
	color: #4B595C;
	margin: 0;
}
p {
	font-family: "Roboto", sans-serif;
	color: #8f9394;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	margin: 0;
}
::selection {
	color: #35425c;
}
::-moz-selection {
	color: #35425c;
}
::-webkit-selection {
	color: #35425c;
}
.cf {
	margin: auto;
	zoom: 1;
}
.cf:after {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
    visibility: hidden;
    content: ":X";
}
html {
	font-size: 100%;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.container {
	max-width: 1440px;
	/*width: 100%;*/
	margin: 0 auto;
	padding: 0 95px;
}
.section-block {
	padding: 100px 0;
	margin: 0 auto;
}
a:hover, a:active {
	text-decoration: none;
}
a:focus {
    outline: none;
    outline-offset: 0;
}
.transition {
	transition: all .2s linear; -moz-transition: all .2s linear; -webkit-transition: all .2s linear; -o-transition: all .2s linear;
}
.basic-button {
	display: block;
	float: left;
	border-radius: 100px;
	width: 140px;
	padding: 15px 0;
	text-align: center;
	margin: 45px 0 0 0;
	background: #EF6E05;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 13px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}
.basic-button:hover {
	background: #f28b37;
	color: #fff;
}
h4.header-small {
	font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.mobile {
    display: none;
}


/*******************************
	Header
********************************/
.header {
  position: fixed;
  z-index: 50;
	width: 100%;
	height: 100px;
	background: #fff;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	-ms-transition: height 0.3s;
	-o-transition: height 0.3s;
	transition: height 0.3s;
}
.header-solid {
	height: 60px;
	background-color: #fff;
	border-bottom: 1px solid #eeeeee;
}
.header-c {
	max-width: 1440px;
	margin: 0 auto;
}
.header-solid .logo-white {
	display: none;
}
.logo-white {
	display: inline-block;
}
.logo-color {
	display: none;
}
.header-solid .logo-color {
	display: inline-block;
}
.logo {
	display: inline-block;
	line-height: 100px;
	margin: 0;
	width: 250px;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.logo:hover {
	opacity: .8;
}
.header-solid .logo{
	line-height: 60px;
	margin: 0;
	width: 200px;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.logo a {
	display: block;
}
a .logo-white {
	width: 100%;
	vertical-align: middle;
}
a .logo-color {
	width: 100%;
	vertical-align: middle;
}
.logo-white img {
	width: 100%;
}
.logo-color img {
	width: 100%;
}
.menuButton {
	float: right;
	right: 0;
	width: 15px;
	height: 15px;
	margin: 15px 45px 0 0;
	padding: 15px;
	display: block;
	z-index: 12;
	position: fixed;
}
.btn {
	display: block;
	height: 2px;
	width: 24px;
	z-index: 12;
	background: #ccd8e5;
	position: relative;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}
.btn::before {
	content:'';
	position: absolute;
	top: -6px;
	left: 0;
	height: 2px;
	width: 24px;
	background: #ccd8e5;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}
.btn::after {
	content:'';
	position: absolute;
	top: 6px;
	left: 0;
	height: 2px;
	width: 24px;
	background: #ccd8e5;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
}
.header-solid .btn {
	background: #bbbbbb;
}
.header-solid .btn:before {
	background: #bbbbbb;
}
.header-solid .btn:after {
	background: #bbbbbb;
}
a.menuButton:hover .btn:before {
	top: -10px;
}
a.menuButton:hover .btn:after {
	top: 10px;
}
a.menuButton:hover .activeBtn:before {
	top: 0;
}
a.menuButton:hover .activeBtn:after {
	top: 0;
}
.activeBtn {
	background: transparent;
}
.activeBtn::before {
	-webkit-transform:rotate(45deg);
	top:0;
}
.activeBtn::after {
	-webkit-transform:rotate(-45deg);
	top:0;
}
#overmenu{
	position: fixed;
	top: 0;
	right: -1%;
	background: #297084;
	width: 101%;
	margin-right: -101%;
	height: 100%;
	z-index: 10;
	opacity: 1;
}
#overmenu span{
	padding: 5px 7px;
}
#overmenu ul {
	position: relative;
	top: 50%;
	padding: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#overmenu a {
	font-family: "Roboto", sans-serif;
	color: #fff;
	text-decoration: none;
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}
#overmenu a:hover {
	color: #EF6E05;
}
#overmenu li {
    list-style: none;
    margin-bottom: 20px;
    text-align: center;
}
span.menu-subject {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	font-size: 10px;
	font-weight: 900;
}
.open {
    left:200px;
}
.fixedPosition {
    position: fixed;
}
.menu-links {
	display: inline-block;
	float: right;
}
.menu-links ul {
	padding: 0;
	margin: 0;
	text-decoration: none;
}
.menu-links li {
	display: inline-block;
	list-style-type: none;
	margin: 0 15px;
	line-height: 100px;
}
.menu-links li:last-child {
	margin-right: 0;
}
.menu-links li:last-child a {
	background: #EF6E05;
	color: #fff;
	border-radius: 100px;
	padding: 10px 25px;
}
.menu-links a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	color: #4B595C;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.menu-links a:hover {
	color: #EF6E05;
}
.menu-links li:last-child a:hover {
	color: #fff;
	background: #f28b37;
}
.header-solid .menu-links li {
	margin: 0 10px;
	line-height: 60px;
}
.header-solid .menu-links a {
	font-size: 14px;
}
.header-solid .menu-links a:hover {
	color: #EF6E05;
}
.header-solid .menu-links li:last-child a:hover {
	background: #f28b37;
}

/*******************************
	Banner
********************************/
.banner {
	padding: 185px 0 100px 0;
/*	width: 100%;
*/	display: block;
}
.banner-c {
	display: inline-block;
	width: 100%;
}
.text-box {
	display: inline-block;
	padding-top: 106px;
	float: left;
	text-align: left;
}
.banner-text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 38px;
	line-height: 48px;
	color: #4B595C;
	margin: 0;
	padding: 0;
}
.banner .text-box p {
	padding-top: 22px;
	font-size: 17px;
	line-height: 34px;
	color: #8f9394;
	max-width: 500px;
}
.banner .basic-button {
  	display: inline-block;
	margin: 39px 5px 0 0;
  	float: none;
}
.banner .basic-button.outline {
	background: none;
	border: 1px solid #EF6E05;
	color: #EF6E05;
	border-radius: 100px;
}
.banner .basic-button.outline:hover {
	background: #EF6E05;
	color: #fff;
}
.banner-image {
	display: inline-block;
	width: 680px;
	float: right;
}
.banner-image img{
	width: 100%;
}

/*******************************
	Story
********************************/
.story-section {
	display: block;
	padding: 100px 0;
	max-width: 1440px;
	margin: 0 auto;
}
.story-one {
	display: inline-block;
	width: 100%;
	margin-bottom: 200px;
}
.story-one .story-text-r {
	float: right;
	padding-top: 58px;
}
.story-h {
	max-width: 400px;
	padding-bottom: 25px;
}
.story-p {
	position: relative;
	max-width: 450px;
}
.story-image {
	float: left;
}
.story-one .story-image img {
	width: 477px;
}
.story-two {
	display: inline-block;
	width: 100%;
	margin-bottom: 200px;
}
.story-two .story-h {
	max-width: 425px;
}
.story-text-l {
	float: left;
	padding-top: 35px;
}
.story-image-r {
	float: right;
}
.story-image-r img {
	width: 500px;
}
.story-three {
	display: inline-block;
	width: 100%;
	padding-bottom: 50px;
}
.story-three .story-text-r {
	float: right;
	padding-top: 115px;
}
.story-three .story-image img {
	width: 435px;
}

/*******************************
	Icons
********************************/
.icon-section {
	display: inline-block;
	width: 100%;
	padding: 175px 0 150px 0;
}
.icon-section h1 {
	text-align: center;
	padding-bottom: 75px;
}
.icon-c {
  display: inline-block;
  width: calc(25% - 103px);
  padding: 0 50px;
  text-align: center;
	vertical-align: top;
}
.icon-c img {
	max-width: 236px;
	width: 100%;
	margin: 0 auto 25px;
}
.icon-section h3 {
	font-size: 18px;
	color: #4B595C;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0 0 15px 0;
}
.icon-section p {
	font-size: 15px;
	line-height: 30px;
	color: #8B8B8B;
	font-weight: 400;
}

/*******************************
	Volunteer
********************************/
.volunteer-section {
	display: block;
	padding: 100px 0;
	background: #F7FAFC;
	position: relative;
}
.volunteer-section .container {
    max-width: 1250px;
}
.volunteer {
	display: inline-block;
	width: 100%;
}
.volunteer-text {
	float: right;
}
.volunteer-h {
	padding-bottom: 25px;
	max-width: 420px;
}
.volunteer-p {
	max-width: 475px;
}
.volunteer-image {
	position: absolute;
	bottom: -3px;
	float: left;
}
.volunteer-image img {
	width: 535px;
}

/*******************************
	Application
********************************/
.app-section {
	display: block;
	padding: 150px 0;
	max-width: 1440px;
	margin: 0 auto;
}
.app-one {
	display: inline-block;
	width: 100%;
	margin-bottom: 130px;
}
.app-text-l {
	float: left;
	padding-top: 80px;
}
.app-h {
	padding-bottom: 25px;
}
.app-p {
	position: relative;
	max-width: 400px;
}
.app-one .app-p:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100px;
  height: 4px;
  background: #EF6E05;
	border-radius: 100px;
  margin-top: 85px;
}
.app-image {
	float: right;
}
.app-image img {
	width: 538px;
}
.app-two {
	display: inline-block;
	width: 100%;
	margin-bottom: 130px;
}
.app-text-r {
	float: right;
	padding-top: 80px;
}
.app-image-l {
	float: left;
}
.app-image-l img {
	width: 538px;
}
.app-two .app-p:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100px;
  height: 4px;
  background: #E2B83C;
	border-radius: 100px;
  margin-top: 85px;
}
.app-three {
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
}
.app-three .app-text-l {
	padding-top: 118px;
}
.app-three .app-p:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100px;
	height: 4px;
	background: #297084;
	border-radius: 100px;
	margin-top: 85px;
}

/*******************************
	Dashboard
********************************/
.dashboard-section {
    display: block;
    padding: 100px 0;
    width: 100%;
    margin: 0 auto;
    background: #F7FAFC;
}
.dashboard-section .container {
    max-width: 1250px;
}
.dashboard {
	display: inline-block;
    width: 100%;
    margin-bottom: 0px;
}
.dashboard-text-r {
	float: right;
	padding: 100px 0 0 0;
}
.dashboard-h {
	padding-bottom: 25px;
	max-width: 325px;
}
.dashboard-p {
	max-width: 380px;
}
.dashboard-image {
	float: left;
}
.dashboard-image img {
	width: 550px;
}

/*******************************
	Downloads
********************************/
.download {
	display: block;
	padding: 100px 0;
}
.download-h {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.download h1 {
	margin: 0 auto;
	max-width: 650px;
	line-height: 54px;
}
.download-btns {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.download ul {
	padding: 0;
	text-decoration: none;
	text-align: center;
}
.download li {
	display: inline-block;
}
.download li:first-child {
	margin-right: 20px;
}
.download .basic-button.apple {
	background: #EF6E05;
	color: #fff;
	margin: 0 0 0 25px;
}
.download .basic-button.apple:hover {
	background: #f28b37;
}
.download .basic-button.android {
    background: #fff;
    color: #EF6E05;
    border: 1px solid #EF6E05;
		margin: 0;
}
.download .basic-button.android:hover {
	background: #EF6E05;
	color: #fff;
}

/*******************************
	End Cap
********************************/
.end-cap {
	display: block;
	padding: 0;
	margin: 0;
}
.end-cap-image {
	text-align: center;
}
.end-cap-image img{
	width: 100%;
	max-width: 1083px;
	vertical-align: bottom;
}


/*******************************
	Footer
********************************/
footer {
	padding: 50px 0;
	display: block;
	background-color: #F7FAFC;
}
.footer-links {
	display: inline-block;
	width: 100%;
}
.footer-left {
	float: left;
}
footer ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
footer li {
	display: inline-block;
	float: left;
	list-style-type: none;
	margin: 0 20px;
	line-height: 50px;
}
footer li:first-child {
	margin-left: 0;
}
footer li a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #8B8B8B;
	text-decoration: none;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}
footer li a:hover {
	color: #EF6E05;
}
.footer-right {
	float: right;
}
.footer-right a {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
	color: #8B8B8B;
	text-decoration: none;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}
.footer-right a:first-child {
	margin-right: 20px;
}
.footer-right a:hover {
	color: #EF6E05;
}
.sub-footer {
  display: inline-block;
  margin-top: 25px;
  width: 100%;
}
.sub-footer p {
	font-size: 12px;
	color: #8B8B8B;
}

/*******************************
	Internal Pages
********************************/
/*Internal-Banner*/
.internal-banner-c {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	display: table;
	height: 500px;
	background-image: url("assets/../../images/community-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.internal-banner {
	padding-top: 100px;
	display: table-cell;
	vertical-align: middle;
}
.internal-text-box {
	display: inline-block;
	text-align: center;
}
.internal-banner-text {
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-style: normal;
	font-weight: 300;
	font-size: 52px;
	line-height: 58px;
	color: #fff;
	margin: 0;
	padding: 0;
}

/*Internal Intro*/
.intro-c {
	padding: 100px 0;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.intro-h {
	max-width: 500px;
    margin: 0 auto 35px;
    line-height: 45px;
}
.intro-c p {
	max-width: 650px;
	margin: 0 auto;
}
.intro-c .basic-button {
    margin: 50px auto 0;
    display: inline-block;
    float: none;
}

/*Internal Contact*/
.internal-banner-c.contact{
	background-image: url("assets/../../images/contact-banner.jpg");
}
.contact-c {
	width: 100%;
	padding: 0 0 100px 0;
}
form {
	display: inline-block;
	width: 100%;
}
.contact-l {
	width: calc(50% - 15px);
	float: left;
	padding-right: 15px;
}
.form-group {
	display: flex;
    margin-bottom: 30px;
}
.contact-l select#input-subject {
	height: 50px;
}
.contact-l .form-group:last-child {
	margin-bottom: 0;
}
.contact-l .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background: #f7f7f7;
    color: #797979;
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: none !important;
}
.contact-r {
	width: calc(50% - 15px);
	float: left;
	padding-left: 15px;
}
.contact-r .form-group {
	margin-bottom: 28px;
}
.contact-r .form-control {
	width: 100%;
    height: 120px !important;
    padding: 12px 0 0 12px;
    background: #f7f7f7;
    color: #797979;
    font-size: 15px;
    border-radius: 4px;
    border: none !important;
    box-shadow: none !important;
}
.contact-r .form-btn {
    height: 50px;
    width: 100%;
    border: none;
    background: #EF6E05 !important;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px !important;
    transition: all .3s ease-in-out !important;
    -moz-transition: all .3s ease-in-out !important;
    -webkit-transition: all .3s ease-in-out !important;
    -o-transition: all .3s ease-in-out !important;
}
input.form-btn:hover {
    background: #f28b37 !important;
}

/*Internal Team*/
.team-c {
	background: #F6F9FA;
	width: 100%;
	padding: 100px 0;
}
.team-image {
	display: inline-block;
  width: calc(33.33% - 53px);
	padding: 0 25px;
	vertical-align: top;
}
.team-image img {
	width: 100%;
}
.team-image h3 {
	font-family: "Roboto", sans-serif;
	color: #4B595C;
	font-weight: 300;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 15px;
	text-align: left;
}
.team-image p {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	text-align: left;
}
.team-image .linked {
	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 25px;
	background: #DAE3F0;
	color: #4875B4;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-transition-duration: .3s;
	-o-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}
.team-image .linked:before {
	content: "\f0e1";
  font-family: "FontAwesome";
  display: inline-block;
  text-align: center;
  width: 100%;
  line-height: 50px;
}
.team-image .linked:hover {
	background: #4875B4;
}
.team-image .linked:hover:before {
	color: #fff;
}

/*Internal Community*/
.community-c {
	background: #F6F9FA;
	width: 100%;
	padding: 100px 0;
}
.testimonials {
	display: block;
	width: 100%;
	text-align: center;
}
.testimonials-t {
	margin-bottom: 50px;
}
.flexslider {
	margin: 0 0 50px !important;
	background: none !important;
	border: none !important;
}
.flex-control-nav {
	display: none !important;
}
.flex-direction-nav {
    display: none !important;
}
.juicer-feed h1.referral {
	display: none !important;
}
.testimonials img {
  width: 90px !important;
  margin: 0 auto 30px;
}
.testimonials p {
	font-size: 18px;
	line-height: 36px;
	max-width: 750px;
    margin: 0 auto 25px;
}
.testimonials .name {
	display: block;
	color: #4B595C;
	font-size: 22px;
	line-height: 22px;
	font-weight: 600;
	margin-bottom: 5px;
}
.testimonials .organization {
	color: #4B595C;
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
}
.community-wall {
	width: 100%;
	padding: 50px 0 0 0;
	display: inline-block;
}

/*Internal Pricing*/
.internal-banner-c.pricing {
	background-image: url("assets/../../images/pricing-banner.jpg");
}
.pricing-c {
	background: #F6F9FA;
	width: 100%;
	padding: 100px 0;
}
.price-box {
	display: inline-block;
	width: calc(50% - 34px);
	border: 1px solid #297084;
	text-align: center;
	margin: 0 15px;
	min-height: 632.5px;
	vertical-align: top;
}
.price-top {
	display: inline-block;
	width: 100%;
	background: #297084;
	text-align: center;
}
.price-top h4 {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 8px;
	margin: 0;
	padding: 50px 0;
}
.price-details {
    padding: 100px;
}
.price-details h2 {
	font-size: 48px;
	color: #297084;
	font-weight: 300;
	line-height: 36px;
	margin: 0 0 50px 0;
}
.price-details span {
	display: block;
	font-size: 15px;
	color: #297084;
	font-weight: 300;
}
.price-details p {
    font-weight: 300;
    font-size: 15px;
}
.price-details .basic-button {
	background: #C9DBE0;
	color: #297084;
	display: inline-block;
	float: none;
}
.price-details .basic-button:hover {
	color: #fff;
	background: #297084;
}
.price-two h2 {
	margin: 0 0 86px 0;
}

/*Internal Organizer*/
.internal-banner-c.organizer {
	background-image: url("assets/../../images/admin-banner.jpg");
}
.feature-prouct-c {
	background: #F6F9FA;
	padding: 100px;
}
.feature-c {
	padding: 50px 0;
}
.feature-c:first-child {
	padding: 0 0 50px 0;
}
.feature-c:last-child {
	padding: 50px 0 0 0;
}
.product-icon {
	display: inline-block;
	padding: 10px 0;
	width: 100%;
}
.product-icon:last-child {
	display: inline-block;
	padding-bottom: 0;
}
.product-icon i {
	display: inline-block;
	float: left;
	color: #297084;
	font-size: 20px;
	line-height: 30px;
}
.product-icon p {
	display: inline;;
    margin-left: 10px;
    color: #4d5b5e;
}
p.icons {
	margin-top: 10px;
}
.feature-l {
	display: inline-block;
	width: calc(50% - 104px);
	margin-top: 25px;
	vertical-align: top;
	padding-right: 100px;
}
.feature-l.image {
	width: 50%;
	padding-right: 0;
	margin-top: 0;
}
.feature-l img {
	width: 100%;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.05);
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.05));
}
.feature-r {
	display: inline-block;
	width: calc(50% - 104px);
	margin-top: 25px;
	padding-left: 100px;
	vertical-align: top;
}
.feature-r.image {
	width: 50%;
	padding-left: 0;
	margin-top: 0;
}
.feature-r img {
	width: 100%;
	-webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.05);
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.05));
}

.feature-prouct-c h1 {
	padding-bottom: 25px;
}

/*Internal Volunteers-App*/
.internal-banner-c.volunteer-app {
	background-image: url("assets/../../images/volunteer-banner.jpg");
}
.spotlight-prouct-c {
	background: #F6F9FA;
	padding: 100px;
}
.spotlight-c {
	padding: 50px 0;
}
.spotlight-c:first-child {
	padding: 0 0 50px 0;
}
.spotlight-c:last-child {
	padding: 50px 0 0 0;
}
.spotlight-c .product-icon {
	display: inline-block;
	padding: 10px 0;
}
.spotlight-c .product-icon:last-child {
	display: inline-block;
	padding-bottom: 0;
}
.spotlight-c .product-icon i {
	display: inline-block;
	float: left;
	color: #297084;
	font-size: 20px;
	line-height: 30px;
}
.spotlight-c .product-icon p {
	display: inline;;
    margin-left: 10px;
    color: #4d5b5e;
}
.spotlight-c p.icons {
	margin-top: 10px;
}
.spotlight-l {
	display: inline-block;
	width: calc(50% - 104px);
	margin-top: 25px;
	vertical-align: top;
	padding-right: 100px;
}
.spotlight-l.image {
	width: 50%;
	padding-right: 0;
	margin-top: 0;
}
.spotlight-l img {
	width: 100%;
}
.spotlight-r {
	display: inline-block;
	width: calc(50% - 104px);
	margin-top: 25px;
	padding-left: 100px;
	vertical-align: top;
}
.spotlight-r.image {
	width: 50%;
	padding-left: 0;
	margin-top: 0;
}
.spotlight-r img {
	width: 100%;
}
.spotlight-prouct-c h1 {
	padding-bottom: 25px;
}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 1400px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 1400px) {

/*Banner*/
.text-box {
	padding-top: 75px;
}
.banner-image {
	width: 600px;
}

/*Icons*/
.icon-c {
	width: calc(25% - 54px);
	padding: 0px 25px;
}

/*Volunteer*/
.volunteer-text{
	padding-left: 550px; 
}
.volunteer-image img {
	width: 475px;
}

/*App*/
.app-image img {
	width: 450px;
}
.app-image-l img {
	width: 450px;
}
.app-text-l {
	padding-top: 45px;
}
.app-three .app-text-l {
	padding-top: 75px;
}
.app-text-r {
	padding-top: 45px;
}


/*******************************
	Internal Pages
********************************/
.testimonial-video iframe {
    width: 400px;
    height: 227px;
}
/*Organizers*/
.feature-l {
	margin-top: 10px;
}
.feature-r {
	margin-top: 10px;
}
/*Volunteers-App*/
.spotlight-l {
	margin-top: 10px;
}
.spotlight-r {
	margin-top: 10px;
}



}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 1300px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 1300px) {

.basic-button {
	margin: 40px 0 0 0;
}

/*Banner*/
.text-box {
	padding-top: 35px;
}
.banner-image {
	width: 500px;
}

/*Volunteer*/
.volunteer-section {
	padding: 100px 0;
}
.volunteer-text br {
	display: none;
}

/*App*/
.app-image img {
	width: 375px;
}
.app-image-l img {
	width: 375px;
}
.app-text-l {
	padding-top: 33px;
}
.app-three .app-text-l {
	padding-top: 55px;
}
.app-text-r {
	padding-top: 33px;
}

/*Dashboard*/
.dashboard-image img {
	width: 550px;
}
.dashboard-p {
	max-width: 400px;
}

/*******************************
	Internal Pages
********************************/
/*Organizers*/
.feature-prouct-c {
	padding: 100px 0;
}
.feature-l {
	margin-top: 0;
}
.feature-r {
	margin-top: 0;
}
p.icons {
    margin-top: 10px;
}
/*Volunteers-App*/
.spotlight-prouct-c {
	padding: 100px 0;
}
.spotlight-l {
	margin-top: 0;
}
.spotlight-r {
	margin-top: 0;
}
.spotlight-prouct-c p.icons {
    margin-top: 10px;
}


}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 1200px

=================================================================================================================================================================================================================================================================================================================================================================*/


@media all and (max-width: 1200px) {

.container {
	padding: 0 50px;
}
p {
	font-size: 14px;
	line-height: 28px;
}
/*Banner*/
.banner-text {
	font-size: 34px;
}
.banner .text-box p {
	font-size: 15px;
}

/*******************************
	Internal Pages
********************************/
.internal-container {
	padding: 0 100px;
}


}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 1100px

=================================================================================================================================================================================================================================================================================================================================================================*/


@media all and (max-width: 1100px) {

h1 {
	font-size: 28px;
	line-height: 34px;
}
p {
  font-size: 13px;
  line-height: 26px;
}

/*Banner*/
.text-box {
    padding-top: 50px;
    max-width: 400px;
}
.banner-text {
	font-size: 30px;
}
.banner .text-box p {
	padding-top: 10px;
    font-size: 14px;
    line-height: 28px;
}
.banner .basic-button {
	margin-top: 30px;
}

/*Story*/
.story-h {
	padding-bottom: 15px;
}
.story-one .story-text-r {
	max-width: 375px;
}
.story-text-l {
	padding-top: 55px;
	max-width: 375px;
}
.story-three .story-text-r {
	max-width: 375px;
}

/*Icons*/
.icon-c {
  	width: calc(50% - 152px);
  	padding: 0px 75px;
}
.icon-c:nth-child(4),.icon-c:last-child {
	margin-top: 50px;
}
.icon-c img {
  vertical-align: middle;
}
.icon-1 {
  margin-bottom: 15px;
}
.icon-2 {
  margin-bottom: 15px;
}
.icon-3 {
	margin-bottom: 15px;
}
.icon-section h3 {
	font-size: 16px;
}

/*Volunteer*/
.volunteer-text {
    padding-left: 475px;
}
.volunteer-image img {
	width: 400px;
}

/*App*/
.app-image img {
	width: 325px;
}
.app-image-l img {
	width: 325px;
}
.app-text-l {
	padding-top: 0;
}
.app-three .app-text-l {
	padding-top: 0;
}
.app-text-r {
	padding-top: 20px;
}
.app-p {
	max-width: 325px;
}

/*Dashboard*/
.dashboard-text-r {
   padding: 65px 0 0 0;
}
.dashboard-image img {
   width: 435px;
}

/*Download*/
.download h1 {
  max-width: 750px;
  line-height: 54px;
  float: none;
  text-align: center;
}
.download-btns {
	float: none;
	text-align: center;
	width: 100%;
}
.download li {
	float: none;
	padding: 0 5px;
}
.download li:first-child {
    margin-right: 5px;
}

/*******************************
	Internal Pages
********************************/
.testimonial-video iframe {
  width: 300px;
  height: 169px;
}
.price-box {
	min-height:inherit;
}
.price-details {
    padding: 80px;
}

}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 1024px

=================================================================================================================================================================================================================================================================================================================================================================*/


@media all and (max-width: 1024px) {

.basic-button {
	font-size: 13px;
	padding: 15px 0;
	width: 140px;
}

/*Banner*/
.text-box {
	max-width: 415px;
	padding-top: 25px;
}
.banner-image {
	width: 470px;
}


/*Dashboard*/
.dashboard-section {
	padding: 100px 0 152px;
}
.dashboard-image img {
	width: 450px;
}
.dashboard-p {
	max-width: 370px;
}

/*******************************
	Internal Pages
********************************/

/*Organizers*/
.feature-r {
	width: calc(50% - 54px);
	padding-left: 50px;
}
.feature-l {
	width: calc(50% - 54px);
	padding-right: 50px;
}
.product-icon {
	padding: 5px 0;
}
/*Volunteer-App*/
.spotlight-r {
	width: calc(50% - 54px);
	padding-left: 50px;
}
.spotlight-l {
	width: calc(50% - 54px);
	padding-right: 50px;
}
.spotlight-prouct-c .product-icon {
	padding: 5px 0;
}


}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 991px

=================================================================================================================================================================================================================================================================================================================================================================*/


@media all and (max-width: 991px) {


.basic-button {
    width: 120px;
    padding: 12px 0;
    font-size: 12px;
    margin-top: 25px;
}

/*Header*/
.menu-links li {
	margin: 0 10px;
}
.banner-text {
	font-size: 34px;
}
.banner .text-box p {
	font-size: 17px;
	line-height: 30px;
}
.video {
	padding-left: 160px;
}
.video-btn {
	width: 90px;
	height: 90px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
}
.video-btn:before {
	width: 14px;
	height: 19px;
}

/*Banner*/
.text-box {
    max-width: 325px;
    padding-top: 12px;
}
.banner-text {
    font-size: 30px;
    line-height: 40px;
}
.banner .text-box p {
    font-size: 13px;
    line-height: 26px;
}
.banner .basic-button {
    margin-top: 25px;
}

/*Story*/
.story-one .story-image img {
	width: 400px;
}
.story-one .story-text-r {
    max-width: 350px;
    padding-top: 55px;
}
.story-image-r img {
	width: 400px;
}
.story-text-l {
    max-width: 350px;
    padding-top: 25px;
}
.story-three .story-image img {
	width: 400px;
}
.story-three .story-text-r {
    max-width: 350px;
    padding-top: 120px;
}

/*App*/
.app-section {
	padding: 100px 0 100px;
}
.app-image img {
	width: 300px;
}
.app-p {
	max-width: 300px;
}
.app-one .app-p:after {
	margin-top: 75px;
}
.app-two .app-p:after {
	margin-top: 75px;
}
.app-three .app-p:after {
	margin-top: 75px;
}

/*Ddashboard*/
.dashboard-text-r {
    max-width: 300px;
    padding: 75px 0 0 0;
}
.download h1 {
	line-height: 40px;
}

/*******************************
	Internal Pages
********************************/
/*Team*/
.team-image p {
	font-size: 13px;
	line-height: 26px;
}
.team-image h3 {
	font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
/*Community*/
.c-c {
	width: 100%;
	padding: 0;
}
.twitter-feed {
	text-align: center;
	margin: 0 0 50px 0;
}
.testimonials {
	text-align: center;
}
.testimonials-table {
	width: 100%;
	height: auto;
}
.testimonials-table-cell {
	display: inline-block;
}
.testimonial-video iframe {
  width: 500px;
  height: 281px;
}
/*Pricing*/
.price-details {
  padding: 100px 50px;
}

}

/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 900px

=================================================================================================================================================================================================================================================================================================================================================================*/


@media all and (max-width: 900px) {

/*Header*/
.menu-links li {
	margin: 0 5px;
}
.menu-links a {
	font-size: 13px;
}
.video {
	padding-left: 90px;
}

/*Banner*/
.banner-image {
    width: 350px;
    padding-top: 20px;
}
.text-box {
    max-width: 280px;
    padding-top: 5px;
}

/*Story*/
.story-one .story-text-r {
    max-width: 250px;
    padding-top: 25px;
}
.story-one .story-image img {
    width: 375px;
}
.story-text-l {
    max-width: 310px;
    padding-top: 0;
}
.story-image-r {
    padding-top: 35px;
}
.story-image-r img {
	width: 350px;
}
.story-three .story-text-r {
    max-width: 250px;
    padding-top: 75px;
}
.story-three .story-image img {
    width: 375px;
}

/*Volunteer*/
.volunteer-text {
	padding-left: 410px;
}
.volunteer-image img {
	width: 350px;
}


/*Dashboard*/
.dashboard-section {
	padding: 100px 0 110px 0;
}
.dashboard-image img {
	width: 350px;
}
.dashboard-text-r {
	max-width: 260px;
    padding: 35px 0 0 0;
}
.dashboard-p {
	max-width: 260px;
}

/*Pricing*/
.price-details {
    padding: 50px 25px;
}
.price-top h4 {
	font-size: 15px;
	letter-spacing: 6px;
}

/*******************************
	Internal Pages
********************************/
/*Contact*/
.header-solid .menu-links li {
	margin: 0 5px; 
}
/*Organizers*/
.feature-r {
    width: calc(50% - 29px);
    padding-left: 25px;
}
.feature-l {
    width: calc(50% - 29px);
    padding-right: 25px;
}
/*Volunteer-App*/
.spotlight-r {
    width: calc(50% - 29px);
    padding-left: 25px;
}
.spotlight-l {
    width: calc(50% - 29px);
    padding-right: 25px;
}


}

/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 768px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 768px) {

h1 {
	font-size: 26px;
	line-height: 32px;
}


/*Header*/
.mobile {
	display: inline-block;
}
.header .mobile {
	float: right;
}
.menu-links {
	display: none;
}
.btn {
	background: #bbbbbb;
}
.activeBtn {
    background: transparent;
}
.btn::before {
	background: #bbbbbb;
}
.btn::after {
	background: #bbbbbb;
}
.header {
	background: #fff;
	height: 60px;
}
.logo {
	line-height: 60px;
	width: 200px;
}
.header a .logo-white {
	display: none;
}
.header a .logo-color {
	display: inline-block;
}

/*Banner*/
.banner {
    padding: 75px 0 50px 0;
    display: block;
}
.text-box {
	width: 100%;
    max-width: none;
    text-align: center;
    padding: 50px 0 0 0;
    float: none;
    margin: 0 auto;
}
.banner-text {
	text-align: center;
	font-size: 28px;
}
.banner .text-box p {
    font-size: 15px;
    line-height: 30px;
    padding-top: 15px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.banner-image {
    width: 100%;
    padding-top: 50px;
    text-align: center;
}
.banner-image img {
    width: 600px;
}
.text-box .basic-button {
  float: none;
  margin: 25px 5px 0;
}

/*Story*/
.story-section {
	padding: 50px 0;
}
.story-one .story-text-r {
    padding-top: 10px;
}
.story-one .story-image img {
    width: 350px;
}
.story-text-l {
    max-width: 250px;
    padding-top: 0;
}
.story-image-r {
	padding-top: 40px;
}
.story-image-r img {
    width: 350px;
}
.story-three .story-text-r {
    padding-top: 50px;
}
.story-three .story-image img {
    width: 350px;
}

/*Icons*/
.icon-section {
	padding: 100px 0 100px 0;
}
.icon-c {
  width: calc(50% - 122px);
  padding: 0px 60px;
}
.icon-section h1 {
	padding-bottom: 50px;
}
.icon-section h3 {
	font-size: 14px;
}

/*Volunteer*/
.volunteer-text {
	padding: 0 0 225px 0;
	text-align: center;
	float: none;
}
.volunteer-h {
	max-width: none;
	margin: 0 auto;
}
.volunteer-p {
	max-width: 400px;
	margin: 0 auto;
	padding-bottom: 25px;
}
.volunteer-text .basic-button {
	float: none;
	margin: 0 auto;
}
.volunteer-image {
    position: absolute;
    bottom: -3px;
    float: none;
    left: 50%;
    margin-left: -185px;
}

/*App*/
.app-three .app-text-l {
	padding-top: 0;
}

/*Dashboard*/
.dashboard-image {
	display: none;
}
.dashboard-section {
	padding: 100px 0;
}
.dashboard-image-mobile.mobile {
	width: 100%;
	text-align: center;
}
.dashboard-image-mobile.mobile img {
	width: 450px;
}
.dashboard-text-r {
    padding: 0 0 50px 0;
    width: 100%;
    max-width: none;
    text-align: center;
}
.dashboard-h {
    padding-bottom: 15px;
    max-width: none;
}
.dashboard-h br {
	display: none;
}
.dashboard-p {
    max-width: 550px;
    margin: 0 auto;
}
.dashboard-text-r .basic-button {
	float: none;
	margin: 25px auto 0;
}

/*Download*/
.download h1 {
	max-width: 500px;
}
.download-btns {
	margin-top: 25px;
}
.download li {
	padding: 0 5px;
}
.download li:first-child {
    margin-right: 5px;
}


/*******************************
	Internal Pages
********************************/
.internal-banner-c {
	height: 300px;
}
.internal-banner {
	padding-top: 60px;
}
/*Team Image*/
.team-image {
  width: calc(33.33% - 33px);
  padding: 0 15px;
}
.internal-banner-text {
	font-size: 38px;
	line-height: 48px;
}
/*Community*/
.intro-h {
  margin-bottom: 20px;
}
/*Contact*/
.contact-l {
    width: 100%;
    float: none;
    padding-right: 0;
}
.contact-r {
    width: 100%;
    float: none;
    padding-left: 0;
}
.contact-l .form-group:last-child {
	margin-bottom: 30px;
}

/*Footer*/
footer {
	width: 100%;
	text-align: center;
	padding: 25px 0;
}
.footer-left{
	float: none;
	width: 100%;
}
footer li {
	float: none;
}
footer li a {
	font-size: 16px;
}
.footer-right {
	float: none;
	margin-top: 25px;
}

}

/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 730px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 730px) {

.basic-button {
	display: inline-block;
	float: none;
}

/*Story*/
.story-h {
	max-width: none;
}
.story-p {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}
.story-one {
	margin-bottom: 100px;
}
.story-one .story-text-r {
    padding-top: 0;
    width: 100%;
    max-width: none;
    text-align: center;
    float: none;
}
.story-image {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.story-one .story-image img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.story-two {
	margin-bottom: 100px;
}
.story-text-l {
    max-width: none;
    padding-top: 0;
    width: 100%;
    text-align: center;
}
.story-two .story-h {
    max-width: none;
    margin: 0 auto;
}
.story-image-r {
    padding-top: 50px;
    width: 100%;
    text-align: center;
}
.story-image-r img {
    max-width: 300px;
    width: 100%;
}
.story-three {
	margin-bottom: 50px;
	padding: 0;
	width: 100%;
    text-align: center;
}
.story-three .story-text-r {
    padding-top: 0;
    width: 100%;
    max-width: none;
    text-align: center;
    float: none;
}
.story-three .story-image img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}


/*App*/
.app-section {
	padding: 100px 0 100px;
}
.app-p {
	width: 100%;
	max-width: none;
	margin-bottom: 100px;
	text-align: center;
}
.app-h {
	text-align: center;
}
.app-one .app-p:after {
    margin: 60px auto 0;
    text-align: center;
    right: 0;
}
.app-two .app-p:after {
    margin: 60px auto 0;
    text-align: center;
    right: 0;
}
.app-text-r {
	width: 100%;
}
.app-three .app-p:after {
    margin: 60px auto 0;
    text-align: center;
    right: 0;
}
.app-text-l {
	width: 100%;
	text-align: center;
}
.app-image {
	float: none;
	text-align: center;
}
.app-image-l {
	float: none;
	text-align: center;
}
.app-image img {
	width: 350px;
}

/*Organizer*/
.intro-h {
    line-height: 30px;
}
.feature-l.image {
	width: 100%;
}
.feature-r {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
}
.feature-l {
	width: 100%;
	padding-right: 0;
}
.feature-r.image {
	width: 100%;
	margin-top: 50px;
}

/*Volunteer-App*/
.spotlight-l.image {
	width: 100%;
}
.spotlight-r {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
}
.spotlight-l {
	width: 100%;
	padding-right: 0;
}
.spotlight-r.image {
	width: 100%;
	margin-top: 50px;
}

}



/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 690px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 690px) {

h1 {
	text-align: center;
}
.basic-button {
	float: none;
	margin: 25px auto 0;
}
.container {
	padding: 0 50px;
}

/*Header*/
.menu-links {
	display: none;
}

/*Dashboard*/
.banner-image img {
    width: 100%;
}

/*Icons*/
.icon-section {
	padding: 75px 0 100px 0;
}
.icon-section h1 {
	padding-bottom: 35px;
}
.icon-c {
	width: 100%;
	margin-bottom: 50px;
	padding: 0;
}
.icon-c:nth-child(4), .icon-c:last-child {
	margin-top: 0;
}
.icon-c img {
	max-width: 195px;
	margin: 0 auto 12px;
}
.icon-section h3 {
	margin: 0 0 10px 0;
}
/*Dashboard*/
.dashboard-image-mobile.mobile img {
    width: 450px;
}


/*******************************
	Internal Pages
********************************/
/*.internal-banner-c {
	height: 250px;
}
.internal-banner-text {
	padding-top: 40px;
}
*/
.team-c {
	text-align: center;
}
.team-image {
	width: 65%;
	text-align: center;
	margin-bottom: 50px;
}
.team-image:last-child {
	margin-bottom: 0;
}
.team-image h3 {
	text-align: center;
}
.team-image p {
	text-align: center;
}
.team-image .linked {
	float: none;
	margin: 25px auto 0 0;
}
/*Pricing*/
.price-box {
	width: 100%;
	margin: 50px 0;
}
.price-box:last-child {
	margin-top: 25px;
}
/*Organizers*/
.feature-prouct-c h1 {
    text-align: left;
}
/*Volunteer-App*/
.spotlight-prouct-c h1 {
    text-align: left;
}


}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 600px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 600px) {
.container {
    padding: 0 25px;
}
.menuButton {
margin: 15px 19px;
}

/*Dashboard*/
.dashboard-image-mobile.mobile img {
    width: 400px;
}

/*******************************
	Internal Pages
********************************/
.testimonial-video iframe {
  width: 425px;
  height: 239px;
}

}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 479px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 479px) {

#overmenu li {
	margin-bottom: 15px;
}
#overmenu a {
	font-size: 30px;
	line-height: 32px;
}
.container {
	padding: 0 15px;
}
.menuButton {
  margin: 15px 9px;
}

/*Banner*/
.banner {
    padding: 50px 0 50px 0;
}
.banner-text {
  font-size: 26px;
  line-height: 30px;
}
.text-box {
    padding: 50px 0 10px 0;
}
.banner .text-box p {
	font-size: 15px;
	line-height: 30px;
}

/*Volunteer*/
.volunteer-text {
	padding: 0 0 175px 0;
}
.volunteer-image {
	margin-left: -155px;
}
.volunteer-image img {
    width: 300px;
}

/*App*/
.app-one {
	margin-bottom: 100px;
}
.app-two {
	margin-bottom: 100px;
}


/*Dashboard*/
.dashboard-image-mobile.mobile img {
    width: 325px;
}

/*Download*/
.download {
	padding: 75px 0;
}
.download-btns {
	margin-top: 15px;
}

/*******************************
	Internal Pages
********************************/
/*Team Iamge*/
.team-image {
	width: 90%;
}
/*Community*/
.testimonial-video iframe {
  width: 300px;
  height: 169px;
}
/*Orginizers*/
.feature-c {
	padding: 25px 0;
}
.feature-r {
	margin-top: 25px;
}
.feature-r.image {
	margin-top: 25px;
}
/*Volunteer-App*/
.spotlight-c {
	padding: 25px 0;
}
.spotlight-r {
	margin-top: 25px;
}
.spotlight-r.image {
	margin-top: 25px;
}


footer {
  padding: 25px 0 25px;
}
footer li {
	margin: 0 10px;
}
footer li a {
	font-size: 14px;
}
.footer-right {
	margin-top: 0;
}
.footer-right a {
	font-size: 14px;
}


}


/*=================================================================================================================================================================================================================================================================================================================================================================

	Media Query :: 400px

=================================================================================================================================================================================================================================================================================================================================================================*/

@media all and (max-width: 400px) {

h1 {
	font-size: 23px;
}

/*Banner*/
.banner-image {
	padding-top: 30px;
}
.banner-text {
  font-size: 28px;
  line-height: 35px;
}
.banner .text-box p {
	margin: 0 auto;
}
.text-box .basic-button {
	margin: 25px auto 0;
}
a.basic-button.outline.popup-vimeo {
    margin-left: 10px;
}

/*Volunteer*/
.volunteer-h {
	padding-bottom: 15px;
}
.volunteer-text {
	padding: 0 0 150px 0;
}
.volunteer-image {
	margin-left: -125px;
}
.volunteer-image img {
    width: 250px;
}

/*App*/
.app-h {
	padding-bottom: 15px;
}
.app-image img {
    width: 275px;
}
.app-image-l img {
    width: 275px;
}

/*Dashboard*/
.download h1 {
	line-height: 36px;
}
.dashboard-h {
	padding-bottom: 15px;
}
.dashboard-image-mobile.mobile img {
    width: 290px;
}
.download-btns {
	margin-top: 20px;
}
.download .basic-button.apple {
	margin: 0;
}
.download li {
	margin: 0;
}
.download li:first-child {
	margin-right: 0;
}
.download li:last-child {
	padding-bottom: 0;
}

/*******************************
	Internal Pages
********************************/
/*Community*/
.testimonial-video iframe {
	width: 280px;
	height: 157px;
}

.footer-left {
	margin-bottom: 25px;
}
footer li {
	margin: 0 7px;
	line-height: 32px;
}


}
